.body{
height:100%;
width:100%;
}
.button{
padding:20px;
margin:0 3px;
border:2px solid black;
border-radius:9px;
cursor:pointer;
}
.row{
margin:8px 0;
}
.container{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
width:300px;
background-color:black;
}
.row input{
font-size:20px;
margin:0;
padding: 10px 0px;
border:2px solid black;
border-radius:5px;
}
.content{
display:flex;
justify-content:center;
align-items:center;
background-image:url("3671320.jpg");
height:100%;
background-repeat:no-repeat;
}
